---
import Header from "~/components/ui/header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      @font-face {
        font-family: "MaisonNeueMG";
        src: url("/fonts/MaisonNeue-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "MaisonNeueMG";
        src: url("/fonts/MaisonNeue-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "MaisonNeueMG";
        src: url("/fonts/MaisonNeue-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>
  <body>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <Header />

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
