---
import Layout from "~/components/layout/base.astro";

import Card from "~/components/ui/card.astro";
import Grid from "~/components/ui/grid.astro";

import articleList from "~/data/articles.ts";
---

<Layout>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <Grid>
      {
        articleList.map((article) => (
          <Card image={article.image}>
            <div class="h-full flex flex-col justify-end">
              <p>{article.tag}</p>
            </div>
          </Card>
        ))
      }
    </Grid>
  </div>
</Layout>
