---
import Layout from "~/components/layout/base.astro";

// Render this route server-side only
// So we don't statically generate a bunch of iframes
export const prerender = false;

// Get the URL from the query string
const url = Astro.url.searchParams.get("url");

// Set error state for the iframe loading
let error = false;

if (!url) {
  error = true;
} else {
  // Fetch the headers of the URL to check if frames are allowed
  const response = await fetch(url, { method: "HEAD" });
  const blockedHeader = response.headers.get("X-Frame-Options");

  // If the header is set, we can't embed the site
  if (blockedHeader) {
    error = true;
  }
}
---

<Layout>
  <div class="flex flex-col h-full">
    <div
      class="bg-stone-100 overflow-hidden rounded-4xl border border-stone-200 h-full"
    >
      {
        error ? (
          <div class="flex flex-col items-center justify-center h-full text-center">
            <p class="text-3xl font-bold font-playfair">Oops!</p>
            <p class="mt-4 font-light">
              This site prevents us from embedding it.
              {url ? (
                <a
                  href={url}
                  class="border-b border-stone-400 "
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {" "}
                  Open this site in a new tab ↗
                </a>
              ) : null}
            </p>
          </div>
        ) : (
          <iframe
            class="w-full h-full"
            src={url}
            title={`Content iframe for the URL ${url}`}
          />
        )
      }
    </div>

    {
      !error ? (
        <div class="block text-center mt-4">
          <a
            href={url}
            class="font-light"
            target="_blank"
            rel="noopener noreferrer"
          >
            Open this site in a new tab ↗
          </a>
        </div>
      ) : null
    }
  </div>
</Layout>
