---
import Grid from "~/components/ui/grid.astro";
---

<header class="pt-8 pb-4">
  <Grid>
    <p>Articles</p>
    <h1 class="text-3xl font-playfair text-center">
      Node Zebra <i>Wrapped</i>
    </h1>
    <p class="text-right">About</p>
  </Grid>
</header>
